{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}

<script>
  // initialize map centered at calgary
  var map = L.map('mapid').setView([51.035, -114.072], 11);
  // add mapbox tile layer
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoiem9ld2Fsc2giLCJhIjoiY2trbGl2NzVmMWp2YjMxcTlpcmF3eXZ5YSJ9.UVZBfaC844oYgXMD0KlPDA', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1Ijoiem9ld2Fsc2giLCJhIjoiY2trbGl2NzVmMWp2YjMxcTlpcmF3eXZ5YSJ9.UVZBfaC844oYgXMD0KlPDA'
  }).addTo(map);

  // initialize clusters
  // note: spiderify is used by default with clusters when map is on maximum zoom, so no need to add spiderify plugin separately
  var markers = L.markerClusterGroup();

  // popup windows
  function onEachFeature(feature, layer) {
    layer.bindPopup("<h2><u>Issued:</u> " + feature.properties.issueddate +
    "<br>" + "<u>Work Class Group:</u> " + feature.properties.workclassgroup +
    "<br>" + "<u>Contractor:</u> " + feature.properties.contractorname +
    "<br>" + "<u>Community:</u> " + feature.properties.communityname +
    "<br>" + "<u>Original Address:</u> " + feature.properties.originaladdress+"</h2>");
  }

  // for every geojson object
  {% for a in data %}
    var feature = {
      "type": "{{a['type']}}",
      "geometry":{
        "type": "{{a['geometry']['type']}}",
        "coordinates": {{a['geometry']['coordinates']}}
      },
      "properties": {
        "issueddate": "{{a['properties']['issueddate']}}",
        "workclassgroup": "{{a['properties']['workclassgroup']}}",
        "contractorname": "{{a['properties']['contractorname']}}",
        "communityname": "{{a['properties']['communityname']}}",
        "originaladdress": "{{a['properties']['originaladdress']}}"
      }
    };
    // save as geojson
    var feat = L.geoJSON(feature, {onEachFeature: onEachFeature});
    // add to cluster
    markers.addLayer(feat);
  {% endfor %}

  // add clusters to map
  map.addLayer(markers);


</script>
<!-- time picker widget -->
<!-- also takes care of error messages if from is later than to, or if there are no permits available for the range-->
<!-- selected dates are also displayed when a successful selection is made -->
<h1>
<div id="time-ranges" class="leaflet-bar">
  <h3>Choose a date range and click "Update" to view permits.</h3>
  <form action="{{ url_for('dates') }}" method="post" id="form">
    <label for="from">
      From:
      <input id="from" type="date" value="2020-01-01" name="from">
    </label>
    <label for="to">
      To:
      <input id="to" type="date" value="2020-01-31" name="to">
    </label>
    <button class="btn btn-outline-primary">Update</button>
    {% if err == 1 %}
    <h4><br/>
      Error: "From" date {{fr}} is later than "To" date {{to}}.
    </h4>
    {% endif %}
    {% if err1 == 1 %}
      {% if err == 0 %}
      <h4><br/>
      There are no permits in this date range: {{fr}} to {{to}}
      </h4>
      {% endif %}
    {% endif %}
    {% if err1 == 0 %}
      {% if err == 0 %}
      <h5><br/>
      Viewing permits: {{fr}} to {{to}}
      </h5>
      {% endif %}
    {% endif %}
  </form>
</div></h1>
{% endblock %}
